header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 0;
}

nav {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 1.2em;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}